.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: darken($color: $blue-cover, $amount: 40);
    
    
}

.notes__appbar{
    border-radius: 10px;
    margin-left: 20px;
    align-items: center;
    background-color: darken($color: $blue-cover, $amount: 30);
    color: white;
    display: flex;
    width:76vw;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.notes__content{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea{
    background-color: darken($color: $blue-cover, $amount: 30);
    color: white;
    border:none;
    width:76vw;
    &:focus{
        outline: none;
    }
}



.notes__title-input{
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 10px;
    width:100%;
}

.notes__textarea{
    
    font-size: 20px;
    flex: 1 1 auto;
    width:100%;
    height:100%;
    resize: none;
}

.notes__image img{
    height: 250px;
}